<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <link rel="icon" href="images/fevicon.png" type="image/gif" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>E - AUCTION</title>


  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet"> <!-- range slider -->

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />

  <style>
      * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-color: #ecf0fc;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 25rem;
  background-color: #fff;
  border-radius: 24px;
}

.card .container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 10px solid #ecf0fc;
}

.container h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 1rem 0 0.5rem 0;
}

.container small {
  color: #120c35;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 2rem;
}

.container .bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar .btn {
  width: 6rem;
  cursor: pointer;
  background-color: #fff;
  padding: 10px 0;
  border-radius: 16px;
  border: 1px solid #c2cdef;
  color: #120c35;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn i {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.more {
  display: none;
  background-color: #120c35;
  width: 15rem;
  border-radius: 24px;
  padding: 2rem 1rem;
  position: absolute;
  bottom: 0%;
  right: -275%;
}

.more.active {
  display: block;
  transition: 0.4s ease;
}

.more li {
  width: 90%;
  height: 2rem;
  background-color: transparent;
  list-style-type: none;
}

.more li a {
  display: block;
  height: 100%;
  color: #fff;
  font-size: 18px;
  line-height: 2rem;
  padding-left: 0.5rem;
  text-decoration: none;
  transition: 0.4s ease;
  border-radius: 4px;
}

.more li a:hover {
  background-color: #2d2559;
}

.btn-more {
  position: relative;
}

@media screen and (max-width: 860px) {
  .more {
    right: 0%;
    bottom: 125%;
  }
}

@media screen and (max-width: 425px) {
  .card {
    width: 15rem;
  }

  .container img {
    width: 100px;
    height: 100px;
  }

  .container h2 {
    font-size: 20px;
  }

  .container small {
    font-size: 14px;
  }

  .bar .btn {
    width: 3.7rem;
    font-size: 10px;
  }

  .more {
    width: 10rem;
    padding: 1rem 0.5rem;
  }

  .more li {
    height: 1.5rem;
  }

  .more li a {
    line-height: 1.5rem;
    font-size: 14px;
  }
}
</style>
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  
</head>

<body>
    
<div class="card">
    <div class="container">
      <img src="<%= user._json.picture %>" alt="profile-img">
      <h2><%= user._json.name %></h2>
      <small><%= user._json.email %></small>
      <div class="bar">
    
        <a href="/logout">
            <button class="btn" style="text-align: center;">
                <i class="fas fa-pen"></i>
                <span>Logout</span>
            </button>
        </a>
      </div>
    </div>
  </div>
</body>
</html>